<div class="container">
      <div class="clearfix">
        <div class="footer-col footer-col-logo">
          <!--<img src="http://demo2.92wailian.com/k433/skin/images/logo-footer.png">-->
        </div>
        <div class="footer-col footer-col-copy">
          <ul class="footer-nav hidden-xs">
            {foreach $menu.menu_bottom as $item}
            <li class="menu-item menu-item-706"><a href="/cate/{$item.menu_id}/{$item.menu_title}">{$item.menu_title}</a></li>
            {/foreach}
          </ul>
          <div class="copyright">
            <p>Copyright © 2025 本站资源来源于互联网 <a href="https://beian.miit.gov.cn/" target="_blank" rel="nofollow"></a> <a
                href="" target="_blank"></a> </p>
          </div>
        </div>
      </div>
    </div>