<div class="container clearfix">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse"
            aria-label="menu"> <span class="icon-bar icon-bar-1"></span> <span class="icon-bar icon-bar-2"></span>
            <span class="icon-bar icon-bar-3"></span> </button>
        <h1 class="logo"> <a href="/"><img src="/static/picture/thunderflash_logo.png" alt="雷电快讯"></a></h1>
    </div>
    <div class="collapse navbar-collapse">
        <nav class="navbar-left primary-menu">
            <ul id="menu-justnews-2-menu" class="nav navbar-nav web-adv-menu">
                <li class="menu-item page-item-2 active"><a href="/">首页</a></li>
                {foreach $menu.menu_top as $item}
                <li class="menu-item "><a href="/cate/{$item.menu_id}">{$item.menu_title}</a></li>
                {/foreach}
            </ul>
        </nav>
        <div class="navbar-action pull-right">
            <div class="navbar-search-icon j-navbar-search"><i class="web-icon wi"><svg aria-hidden="true">
                        <use xlink:href="#wi-search"></use>
                    </svg></i></div>
        </div>
        <form class="navbar-search" action="/search" method="get">
            <div class="navbar-search-inner"> <i class="web-icon wi navbar-search-close"><svg aria-hidden="true">
                        <use xlink:href="#wi-close"></use>
                    </svg></i>
                <input name="keyword" type="text" class="navbar-search-input" value="在这里搜索..."
                    onfocus="if(this.value=='在这里搜索...'){this.value='';}"
                    onblur="if(this.value==''){this.value='在这里搜索...';}">
                <button class="navbar-search-btn" type="submit"><i class="web-icon wi"><svg aria-hidden="true">
                            <use xlink:href="#wi-search"></use>
                        </svg></i></button>
            </div>
        </form>
    </div>
</div>